body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  width                  : 100%;
  text-align             : right;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  overflow     : hidden;
  text-overflow: ellipsis;
  font-size    : 1.5em;
  font-weight  : 900;
  text-align   : right;
  margin       : 0.5em 0;
  padding      : 0 0.5em;
}

.title {
  overflow     : hidden;
  text-overflow: ellipsis;
  font-size    : 0.8em;
  font-weight  : 500;
  text-align   : right;
  margin       : 0.5em 0;
  padding      : 0 0.5em;
}

.card-container {
  height: 24ex;
  margin: 0 15px 15px 15px;
}

button {
  transition      : all 300ms ease;
  border          : solid 1px #c4c4c4;
  color           : black;
  background-color: transparent !important;
  padding         : 0;
  margin          : 0.3em;
}

button:hover {
  transform       : scale(1.05);
  background-color: transparent !important;
  color           : black;
  border          : solid 1px black;
}